
.page-template-page_webinar .entry-content {
  max-width: 1800px
}

.page-template-page_webinar .entry-header, .entry-content > ol,
.page-template-page_webinar .entry-header, .entry-content > ul,
.page-template-page_webinar .entry-header, .entry-content > p {
  max-width: 770px;
  margin-left: auto;
  margin-right: auto;
}

#vimeoembed {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

#vimeo_webinar,
#vimeo_chat {
  flex: 1 1 auto;
}

#vimeo_chat {
  flex-basis: 20%;
  border: .2rem solid #F0F0F0;
}
#vimeo_chat + #vimeo_webinar {
  flex-basis: 80%;
  padding-left: 1rem;
}
